<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailystudio.weex">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>

        <activity android:name=".activity.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name="org.apache.weex.WXPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="com.taobao.android.intent.action.WEEX"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.taobao.android.intent.category.WEEX"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="file"/>
                <data android:scheme="wxpage" />

            </intent-filter>

        </activity>

        <activity
            android:name=".activity.WEEXPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="com.dailystudio.intent.action.VIEW_WEEX"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.dailystudio.intent.category.WEEX"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="file"/>
                <data android:scheme="wxpage" />

            </intent-filter>

        </activity>

        <activity
            android:name=".activity.WEEXDuplicationPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="com.dailystudio.intent.action.VIEW_WEEX_DUPLICATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.dailystudio.intent.category.WEEX"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="file"/>
                <data android:scheme="wxpage" />

            </intent-filter>

        </activity>

    </application>
</manifest>